src/application/config/development/config.php
src/application/config/development/config.php
/src/application/logs/
src/application/config/development/config.php
/src/docroot/cache/
src/docroot/uploads/2015/01/22/d7b362debd58ce1bf27b7367de7d7947.jpg
/src/docroot/uploads/