<span class="best-balloon" ng-if="product.best">BEST {{product.best}}</span>
<span class="sales-balloon" ng-if="product.salesPercent">{{product.salesPercent}}%</span>
<span class="new-balloon" ng-if="!product.best && product.isNew"></span>
<a class="opacity" ng-href="{{product.url}}" title="{{product.name}}"></a>
<div class="image">
    <img class="img-loading" src="/images/ajax_loader_blue_32.gif"/>
</div>
<div class="name">{{product.name}}</div>
<div class="seller-name">{{product.seller_name}}</div>
<div class="dis-price">{{product.priceOrigin}}</div>
<div class="price">{{product.priceString}}</div>
<!--<div class="like"><span>(980)</span></div>-->