RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|images|genghis|phpmyadmin|css|uploads|audios|style|js|mp3|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|png|jpg|jpeg|html|css|js|mp3|zip|tgz|wav)$ [NC]
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
