@CHARSET "utf-8";
.sliderContainer{
	padding-top:33px;
	height: 250px;
	width:100%;
	background:transparent url('../images/banner-bg-cat.png') repeat-x 0px 0px;
}
.content{
	padding-top:12px;
	
}
.contentClearFlex{
	margin: auto;
	min-height: 250px;
}
.rowProduct{
}
.rowProduct .rowHead {
	height: 22px;
	background: transparent url('../images/douleline.png') repeat-x center left;
}
.rowProduct .rowHead span{
	line-height: 22px;
	background-color: #FAF8F2;
	padding:0px 10px;
	font-size: 16px;
	font-weight: bold;
	color:#9D8A7E;
}
.rowProduct .rowContent{
	display: inline-block;
	width:100%;
}
.rowProduct .productItem{
	margin:10px;
	float:left;
}
.productItem .productImage{
	margin:auto;
	border:solid 1px #EEEADC;
	border-radius:5px;
	overflow: hidden;
}

.productItem .productName{
	min-height: 15px;
	max-height: 60px;
	margin: 5px 0px;
}
.productItem .productName a{
    color:#9D8A7E;
    font-size: 15px;
    font-weight: bold;
}
.productItem .productName a:hover{
	color:#DB4D4D;
	cursor:pointer;
}
.productItem .productPrice{
    color:#A7B35C;	
}
.productItem .productAddCart{
	text-align: center;
	margin:5px 0px;
}
.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
