@CHARSET "UTF-8";
.lynx_fromSearchSeller{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left:10px;
	display: inline-block;
	margin-bottom: 10px;
}
.lynx_fromSearchSeller span,.lynx_fromSearchSeller input{
    float:left;
	text-align: left;
}
.lynx_fromSearchSeller span{
    margin-right: 10px;
}
.lynx_fromSearchSeller input{
    margin-right: 30px;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
	width: 970px;
	height: 390px;
	float: left;
	margin: 0px 10px;
	
}