
.lynx_searchResult .lynx_sort,.lynx_searchResult .lynx_sort ul,.lynx_searchResult .lynx_sort ul li
{
    float:left;
    display:inline-block;
    margin-bottom:0px;
    height:40px;
}
.lynx_searchResult .lynx_sort ul li{
    opacity: 0.25;
    margin-left: 10px;
}
.lynx_searchResult .lynx_sort ul li a
{
    display:inline-block; 
    margin-top:10px;
    line-height:20px;
    font-size: 11px;
    color:black;
    padding-left:25px;
    cursor: pointer;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterNew{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px 0px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterSellOnline{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -20px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterPriceAsc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -60px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterPriceDesc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -40px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterSaleAsc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -80px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterHot{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -100px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterMostLiked{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -120px;
}
.lynx_searchResult .lynx_sort ul li.lynx_sortActive,.lynx_searchResult .lynx_sort ul li:hover{
    opacity: 1;
}
