
.lynx_searchResult .lynx_sort,.lynx_searchResult .lynx_sort ul,.lynx_searchResult .lynx_sort ul li
{
    float:left;
    display:inline-block;
    margin-bottom:0px;
    height:40px;
}
.lynx_searchResult .lynx_sort ul li{
    opacity: 0.25;
    margin-left: 10px;
}
.lynx_searchResult .lynx_sort ul li a
{
    display:inline-block; 
    margin-top:10px;
    line-height:20px;
    font-size: 11px;
    color:black;
    padding-left:25px;
    cursor: pointer;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterNew{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px 0px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterSellOnline{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -20px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterPriceAsc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -60px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterPriceDesc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -40px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterSaleAsc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -80px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterHot{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -100px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterMostLiked{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -120px;
}
.lynx_searchResult .lynx_sort ul li.lynx_sortActive,.lynx_searchResult .lynx_sort ul li:hover{
    opacity: 1;
}
.btn_advance_filter{
    color:#fd782f;
    text-decoration: underline;
    line-height: 40px;
    white-space: nowrap;
}
#box_advanced_filter{
    width: 100%;
    margin-top: 5px;
    background: white;
}
#box_advanced_filter .box_header{
    background: url(/images/categories/advanced_filter.png) no-repeat;
    bacground-position: 0 0;
    height: 27px;
    line-height: 27px;
    text-transform: uppercase;
    color: white;
    text-align: left;
    padding-left: 10px;
}
#box_advanced_filter .box_content{
    padding: 15px 24px;
    text-align:left;
}
#box_advanced_filter .border-right{
    border-right: 1px dotted #a9a7a8;
    padding-right: 15px;
}
#box_advanced_filter .div-inline{
    display: inline-block;
}
#box_advanced_filter label{
    font-weight: normal;
    margin:0;
    display:inline;
}
#box_advanced_filter input[type="button"]{
    background: none;
    border: none;
    height: 24px;
    line-height: 24px;
    width: 51px;
    background: url(/images/categories/btn_filter.png) no-repeat;
    color: white;
    text-align:center;
}