.lynx-cate-lvl2-container{
    position: relative;
    height: 90px;
}
ul.lynx-cate-lvl-2{
    display:block;
    list-style-type: none;
    padding:5px;
    background: white;
    border: 1px solid #cacaca;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: left;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    box-sizing: border-box;
}
ul.lynx-cate-lvl-2 > li{
    display: inline-block;
    padding-right: 7px;
    background: url(/images/cate-lvl-2-border.png) no-repeat;
    background-position: 100% 10px;
}
ul.lynx-cate-lvl-2 > li.last{background: none;}
ul.lynx-cate-lvl-2 > li > a{
    height:68px;
    min-width: 75px;
    display:block;
    text-decoration: none;
    border: 1px solid transparent;
    text-align: center;
}
ul.lynx-cate-lvl-2 > li:hover > a, ul.lynx-cate-lvl-2 > li.active > a{
    background: #F2F2F2;
    border-color: #84C7D8;
}
ul.lynx-cate-lvl-2 > li > a > span.cate-icon{
    height: 46px;
    display:block;
}
ul.lynx-cate-lvl-2 > li > a > span.cate-name{
    margin: 0;
    height: 22px;
    line-height: 22px;
    font-weight: normal;
    color: #8D8D8D;
    font-size: 11px;
}
.lynx_searchResult .lynx_sort,.lynx_searchResult .lynx_sort ul,.lynx_searchResult .lynx_sort ul li
{
    float:left;
    display:inline-block;
    margin-bottom:0px;
    height:40px;
}
.lynx_searchResult .lynx_sort ul li{
    opacity: 0.25;
    margin-left: 10px;
}
.lynx_searchResult .lynx_sort ul li a
{
    display:inline-block; 
    margin-top:10px;
    line-height:20px;
    font-size: 11px;
    color:black;
    padding-left:25px;
    cursor: pointer;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterNew{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px 0px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterSellOnline{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -20px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterPriceAsc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -60px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterPriceDesc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -40px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterSaleAsc{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -80px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterHot{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -100px;
}
.lynx_searchResult .lynx_sort ul li a.lynx_sorterMostLiked{
    background: transparent url('../images/search_sort_icon.png') no-repeat 0px -120px;
}
.lynx_searchResult .lynx_sort ul li.lynx_sortActive,.lynx_searchResult .lynx_sort ul li:hover{
    opacity: 1;
}