ul#cart-process{
    display:inline-block;
    margin: 24px 0;
    border-bottom: 2px solid #000;
}
ul#cart-process > li{
    display: inline-block;
    float: left;
    padding-right: 117px;
}
ul#cart-process > li:first-child{
    margin-left: 0;
}
ul#cart-process > li:last-child{
    margin-right: 0;
    padding-right: 0;
}
ul#cart-process > li .process-text .number{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #b1afab;
    font-weight: bold;
    text-shadow: 0 0 1px #a09e9a;
    color: white;
}
ul#cart-process > li.active .process-text .number{
    background-color: #fd7419;
}
ul#cart-process > li .process-text label{
    font-size:16px;
    font-weight: normal;
    color: #b1afab;
}
ul#cart-process > li.active .process-text label{
    color: #252322;
}
ul#cart-process > li.active .process-visual{
    height: 30px;
    vertical-align: bottom;
    text-align: left;
}
ul#cart-process > li.passed .process-visual{
    margin-right: -117px;
}
ul#cart-process > li.active .process-visual .process-line, ul#cart-process > li.passed .process-visual .process-line{
    display: inline-block;
    border-bottom: 2px solid #fd7419;
}
ul#cart-process > li.active .process-visual .process-line{
    width: 45%;
}
ul#cart-process > li.passed .process-visual .process-line{
    width: 100%;
    margin-top: 23px;
}
ul#cart-process > li.active .process-visual .process-line-cart{
    background: url(/images/cart/cart.png) no-repeat;
    width: 30px;
    height: 25px;
    display:inline-block;
}
.product-list-count{
    height: 21px;
    line-height: 21px;
    padding-left: 40px;
    background: url(/images/cart/icon-ok-sign.png) no-repeat;
    font-weight: bold;
}
.product-list-count{
    font-weight: bold;
    font-size: 12px;
}
.product-list-count .number{
    font-size: 15px;
    font-weight: bold;
    color: #065569;
}
table.product-table{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
table.product-table th, table.product-table td{
    padding:10px;
}
table.product-table thead{
    border-bottom: 3px solid #155f72;
}
table.product-table thead th{
    background: #10b6e2;
    color: white;
    font-size: 15px;
}
table.product-table td{
    background: white;
    vertical-align: top;
}
table.product-table .p-img{
    width: 93px;
    height: 65px;
    float: left;
    overflow: hidden;
}
table.product-table .p-img img{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
table.product-table .p-info{
    margin-left: 103px;
}
table.product-table a.p-name{
    color: black;
    font-weight: bold;

}
table.product-table a{
    color: #818d87;
}
table.product-table select{
    width: 50px;
}
table.product-table small{
    text-decoration: line-through;
    font-style: italic;
}
table.product-table small strong{
    font-weight: bold;
}
table.product-table .p-sale-percent{
    color: #fe6c57;
    font-size: 85%;
    text-decoration: none;
    font-style: normal;
}
.cart-summaries{
    border: 1px solid #e2e2e2;
    background: #f7f7f7;
    padding: 5px;
}
.cart-summaries .inner{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 10px 25px;
}
.cart-summaries h4{
    border-bottom: double #cad9dd;
    color: #1cb0d7;
    margin:0;
    padding-bottom: 10px;
    text-align: center;
}
.product-summaries-table, .product-summaries-table > div{
    display:inline-block;
    width: 100%;
}
.product-summaries-table .tdleft,.product-summaries-table .tdright{
    padding: 10px 0;
}
.product-summaries-table .border-solid{
    border-bottom: 1px solid #b6b9ba;
}
.product-summaries-table .border-dashed{
    border-bottom: 1px dashed #b6b9ba;
}
.product-summaries-table .tdleft{
    float:left;
    width: 60%;
}
.product-summaries-table .tdright{
    float:left;
    width: 40%;
    text-align: left;
}
.product-summaries-table .total div strong{
    color: #b12c28;
}
.btn-cart-next, a.btn-cart-next, .btn-cart-prev, a.btn-cart-prev{
    display:inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: white !important;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.btn-cart-next, a.btn-cart-next {
    background: url(/images/cart/btn-next.png) repeat-x;
}
.btn-cart-prev, a.btn-cart-prev{
    background: url(/images/cart/btn-prev.png) repeat-x;
}
.btn-cart-next *, .btn-cart-prev *{
    color: white !important;
}
.btn-cart-next .pull-right, .btn-cart-prev .pull-left{
    margin-top: 13px;
}
i.img-phone{
    display: inline-block;
    float:left;
    width: 25px;
    height: 21px;
    background: url('/images/cart/phone.png')
}
.phone-no{
    font-weight: bold;
    color: #b32b29;
}
fieldset{
    border: 1px solid #ccc;
    background: white;
    position:relative;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
legend{
    position: absolute;
    top:-1px;
    left: -1px;
    width: 207px;
    height: 39px;
    line-height: 39px;
    background: url(/images/cart/legend.png) no-repeat;
    font-size: 100%;
    padding-left: 20px;
    color: white;
    border: none;
}
.form-control{
    height: 30px;
    padding: 4px 12px;
}
.control-label{
    margin-top: 5px;
    font-size: 12px;
}
.form-control{
    font-size: 12px;
}
.required{
    color: #fe0000;
}
.form-group{
    overflow:hidden;
}
fieldset hr{
    border-style: dotted;
    border-color: #c8c7c7;
}
#field-shipping ul.col-xs-6{
    list-style-type: none;
}
#field-shipping ul.col-xs-6 > li{
    display:block;
    padding: 5px;
    margin-bottom: 20px;
}
#field-shipping ul.col-xs-6 > li .price{
    color: #b12c28;
    font-size: 120%;
    font-weight: bold;
    float: right;
    display:inline-block;
}
#field-shipping ul.col-xs-6 > li input{
    margin-right: 10px;
}
#field-shipping{
    padding-left: 10px;
    padding-right: 10px;
}
#field-shipping .color-1{
    background: #f3f2c9;
}
#field-shipping .color-2{
    background: #e5e9f6;
}
#field-shipping .color-3{
    background: #fae3f0;
}
#method-desc{
    padding: 10px 15px;
    height: 148px;
}
#field-shipping{
    position: relative;
}
#field-shipping .pull-right{
    position: absolute;
    right: 10px;
    top: 10px;
    
}
#field-shipping .pull-right a{
    color: #c4605e;
}