ul.lynx-product-breadcrums{
    display: inline-block;
    list-style-type: none;
    color: #4f4f4f;
    margin-top: 5px;
}
ul.lynx-product-breadcrums li{
    float: left;
}
ul.lynx-product-breadcrums li a{
    display:inline-block;
    color: #4f4f4f;
    text-decoration: none;
}
ul.lynx-product-breadcrums li a:hover{
    text-decoration: underline;
}
.detail-main{
    width: 675px;
    margin-right: 15px;
    box-sizing: border-box;
    min-height: 450px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: white;
    margin-bottom: 20px;
    float:left;
    padding: 30px 20px;
}
.detail-main .detail-main-left{
    float:left;
    width: 100px;
}
.detail-main .detail-main-right{
    float: left;
    width: 533px;
}
.detail-main .detail-main-right h4.product-name{
    margin-top:0;
}
.detail-main .product-image{
    width: 100%;
}
.detail-summaries{
    width: 270px;
    border: 1px solid #ccc;
    box-sizing:border-box;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f0efee;
    overflow:hidden;
    padding: 0 28px;
}
.detail-summaries .detail-seller-logo{
    height:55px;
    background: white;
    border-bottom: 2px solid #ccc;
    margin: 0 -28px;
}
.detail-summaries .detail-seller-name{
    text-transform: uppercase;
    text-align:center;
    height: 30px;
    line-height: 30px;
    font-size: 120%;
}
.detail-summaries .detail-sale{
    float:left;
    width: 56px;
    height: 56px;
    background: url(/images/sale-arrow.png) no-repeat;
    background-position: 0 0;
    display:inline-block;
    line-height: 56px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.detail-summaries .detail-origin-price{
    margin-left: 60px;
    padding-top: 6px;
    height: 50px;
    line-height: 56px;
    font-size:130%;
    color: #b3b2b2;
    text-decoration: line-through;
    overflow: hidden;
}
.detail-summaries .detail-price{
    text-align: center;
    font-size: 200%;
    color: #ff6800;
    font-weight: bold;
}
.detail-summaries .detail-free-shipping{
    text-align: right;
    height: 44px;
    line-height: 44px;
}
.detail-summaries .detail-free-shipping.free{
    background: url(/images/free-shipping.png) no-repeat;
}
.detail-summaries .detail-free-shipping select{
    padding: 3px;
    border: 2px solid #d9d8d7;
}
.detail-summaries .detail-free-shipping select option{
    font-size: 14px;
}
.detail-summaries .detail-free-shipping label{
    font-size: 14px;
    font-weight: normal;
}
.detail-summaries .btn-add-to-cart{
    display: block;
    width: 100%;
    border:none;
    background: #f99f61;
    height: 46px;
    line-height: 46px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}
.detail-summaries .btn-add-to-cart:hover{
    background: #ff6800;
}
.detail-summaries .btn-add-to-favorite{
    display: block;
    width: 100%;
    border:none;
    color: white;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
    background-color: #0caad3;
    height: 30px;
    line-height: 30px;
}
.detail-summaries .btn-add-to-favorite:hover{
    background: #029ac2;
}
.detail-share span{
    margin-left: 40px;
    display:block;
    height: 22px;
    line-height: 22px;
    float:left;
}
.detail-share a.share{
    float:left;
    display: block;
    height: 22px;
    width: 22px;
    background: url(/images/share-icon.fw.png) no-repeat;
}
.detail-share a.share.share-facebook{
    background-position-x: 0;
}
.detail-share a.share.share-twiter{
    background-position-x: -25px;
}
.detail-share a.share.share-google{
    background-position-x: -50px;
}
.detail-share a.share.share-email{
    background-position-x: -75px;
}


