ul.lynx-product-breadcrums{
    display: inline-block;
    list-style-type: none;
    color: #4f4f4f;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
ul.lynx-product-breadcrums li{
    display: inline-block;
}
ul.lynx-product-breadcrums li a{
    display:inline-block;
    color: #4f4f4f;
    text-decoration: none;
    white-space: nowrap;
}
ul.lynx-product-breadcrums li a:hover{
    text-decoration: underline;
}

.detail-main{
    width: 675px;
    margin-right: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    float:left;
}
.detail-main .detail-images{
    box-sizing: border-box;
    min-height: 450px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: white;
    padding: 30px 20px;
    display: inline-block;
}
.detail-main .detail-images .detail-main-left{
    margin-top: 29px;
    float:left;
    width: 70px;
    list-style-type: none;
}
.detail-main .detail-images .detail-main-right{
    float: left;
    width: 560px;
    text-align:center;
}
.detail-main .detail-main-right h4.product-name{
    margin-top:0;
    text-align: center;
    padding-left: 5px;
}
.detail-main .detail-main-right .jqzoom{
    width: 450px;
    display:block;
    margin: 0 auto;
}
.detail-main .product-image{
    width: 100%;
}
.detail-main .detail-main-left li{
    border: 2px solid transparent;
    border-radius: 2px;
    display:block;
    overflow: hidden;
    margin-bottom: 10px;
}
.detail-main .detail-main-left li.zoomThumbActive{
    border-color: #1c6173;
}
.detail-main .detail-main-left li a{
    display: block;
    border: 1px solid #ccc;
    padding: 1px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.detail-main .detail-main-left li.zoomThumbActive a{
    border-color: transparent;
}
.detail-main .detail-main-left li a img{
    width: 100%;
}
.detail-summaries{
    width: 270px;
    border: 1px solid #ccc;
    box-sizing:border-box;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f0efee;
    overflow:hidden;
    padding: 0 28px;
    float:left;
}
.detail-summaries.fixed-top{
    position: fixed;
    left: 50%;
    top: 10px;
    margin-left: 210px;
}
.detail-summaries .detail-seller-logo{
    height:55px;
    background: white;
    border-bottom: 2px solid #ccc;
    margin: 0 -28px;
}
.detail-summaries .detail-seller-logo img{
    height: 53px;
    max-width: 100%;
}
.detail-summaries .detail-seller-name{
    text-transform: uppercase;
    text-align:center;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
.detail-summaries .detail-sale{
    width: 56px;
    height: 56px;
    background-size: 100%;
    background: url(/images/sale-arrow.png) no-repeat -5px center;
    background-position: 0 0;
    display:inline-block;
    line-height: 56px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.detail-summaries .detail-origin-price{
    padding-top: 15px;
    height: 35px;
    font-size:130%;
    color: #b3b2b2;
    text-decoration: line-through;
    display: inline-block;
    width:auto;
}
.detail-summaries .detail-price{
    text-align: center;
    font-size: 24px;
    line-height: 100%;
    color: #ff6800;
    font-weight: bold;
    width:100%;
}
.detail-summaries .detail-free-shipping{
    text-align: right;
    height: 44px;
    line-height: 44px;
}
.detail-summaries .detail-fast-shipping{
    height: 44px;
    line-height: 44px;
    padding-top:25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.detail-summaries .detail-fast-shipping.fast{
    background: url(/images/fast-shipping.fw.png) no-repeat top center;
}
.detail-summaries .detail-free-shipping.free{
    background: url(/images/free-shipping.png) no-repeat;
}
.detail-summaries .detail-free-shipping select{
    padding: 3px;
    border: 2px solid #d9d8d7;
}
.detail-summaries .detail-free-shipping select option{
    font-size: 14px;
}
.detail-summaries .detail-free-shipping label{
    font-size: 14px;
    font-weight: normal;
}
.detail-summaries .btn-add-to-cart{
    display: block;
    width: 100%;
    border:none;
    background: #f99f61;
    height: 46px;
    line-height: 46px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}
.detail-summaries .btn-add-to-cart:hover{
    background: #ff6800;
}
.detail-summaries .btn-add-to-favorite{
    display: block;
    width: 100%;
    border:none;
    color: white;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.32);
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
    background-color: #0caad3;
    height: 30px;
    line-height: 30px;
}
.detail-summaries .btn-add-to-favorite:hover{
    background: #029ac2;
}
.detail-share span{
    margin-left: 40px;
    display:block;
    height: 22px;
    line-height: 22px;
    float:left;
}
.detail-share a.share{
    float:left;
    display: block;
    height: 22px;
    width: 22px;
    background: url(/images/share-icon.fw.png) no-repeat;
}
.detail-share a.share.share-facebook{
    background-position:0 0;
}
.detail-share a.share.share-twiter{
    background-position:-25px 0px ;
}
.detail-share a.share.share-google{
    background-position:-50px 0px ;
}
.detail-share a.share.share-email{
    background-position:-75px 0px ;
}
.detail-main ul.detail-social{
    display: block;
    background: #f0efee;
    list-style-type: none;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
}
.detail-main ul.detail-social li{
    display: block;
    float:left;
}
.detail-main ul.detail-social li a{
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    height: 26px;
    line-height:26px;
    border-right: 1px solid #dbdbd9;
}
.detail-main ul.detail-social li a:hover span{
    text-decoration: underline;
}
.detail-main ul.detail-social li.last a{
    border:none;
}
.detail-main ul.detail-social li a span.icon{
    display:inline-block;
    height: 26px;
    padding-left: 35px;
    background-repeat: no-repeat;
}
.detail-main ul.detail-social li.detail-social-cart{
    width: 30%;
}
.detail-main ul.detail-social li.detail-social-cart a span{
    background-image : url(/images/detail-cart.png);
}
.detail-main ul.detail-social li.detail-social-rate{
    width: 40%;
}
.detail-main ul.detail-social li.detail-social-rate a span{
    background-image: url(/images/detail-like.png);
}
.detail-main ul.detail-social li.detail-social-comment{
    width: 30%;
}
.detail-main ul.detail-social li.detail-social-comment a span{
    background-image: url(/images/detail-comment.png);
}
.lynx-tabs{
    text-align:left;
}
.lynx-tabs > ul{
    display:inline-block;
    overflow:hidden;
    list-style-type: none;
    padding-left:27px;
    margin:0;
}
.lynx-tabs > ul > li{
    display:block;
    float:right;
    width:184px;
    margin-left: -27px;
    z-index: 0;
}
.lynx-tabs > ul > li > a{
    height: 34px;
    line-height: 34px;
    text-transform: uppercase;
    text-decoration: none;
    display:block;    
    font-size: 11px;
    color: #666666;
    text-align: left;
    padding-left: 27px;
    background: url(/images/tab-normal.png);
}
.lynx-tabs > ul > li.active{
    background: none;
}
.lynx-tabs > ul > li.active > a{
    position: relative;
    z-index: 10;
    background: url(/images/tab-active.png);
    color: white;
}
.lynx-tabs .lynx-panes{
    display: block;
    border: 1px solid #ccc;
}
.lynx-tabs .lynx-panes .lynx-pane{
    padding: 20px;
    background: white;
    display:none;
    overflow:hidden;
}
.lynx-tabs .lynx-panes .lynx-pane img{
    max-width: 100%;
}
.lynx-tabs .lynx-panes .lynx-pane img table{
    max-width: 100%;
}
.lynx-tabs .lynx-panes .lynx-pane.active{
    display:block;
}
.lynx_facebookReview{
    background-color: white;
}