li#menu-family > a{
    background-image: url(/images/categories/Icon-gia-dinh.png);
}
li#menu-family.active > a{
    background-image: url(/images/categories/Icon-gia-dinh-active.png)
}
li#menu-mom_baby > a{
    background-image: url(/images/categories/Icon-me-va-be.png);
}
li#menu-mom_baby.active > a{
    background-image: url(/images/categories/Icon-me-va-be-active.png);
}
li#menu-food_drink > a{
    background-image: url(/images/categories/Icon-thuc-pham.png);
}
li#menu-food_drink.active > a{
    background-image: url(/images/categories/Icon-thuc-pham-active.png);
}
li#menu-gift > a{
    background-image: url(/images/categories/icon-qua.png);
}
li#menu-gift.active > a{
    background-image: url(/images/categories/icon-qua-active.png);
}
li#menu-hot > a{
    background-image: url(/images/mn-hot.fw.png);
}
li#menu-vietnam > a{
    background-image: url(/images/mn-made-in-viet-name.fw.png);
    width: 200px;
}
ul.lynx-menu-lvl-2 li#menu-best > a > span.menu-icon{
    background: url(/images/categories/best.png) no-repeat;
    background-position: 50% 0;
}

.head-menu > ul > li.EN-US > a{min-width: 149px;}
.head-menu > ul > li.VN-VI > a{min-width: 135px;}
.head-menu > ul > li.KO-KR > a{min-width: 148px;}
li#menu-family.VN-VI > a{
    min-width: 147px;
}
li#menu-family.EN-US > a{
    min-width: 100px;
}
li#menu-family.KO-KR > a{
    min-width: 150px;
}
