li#menu-family > a{
    background-image: url(/images/categories/Icon-gia-dinh.png);
}
li#menu-family.active > a{
    background-image: url(/images/categories/Icon-gia-dinh-active.png)
}
li#menu-mom_baby > a{
    background-image: url(/images/categories/Icon-me-va-be.png);
}
li#menu-mom_baby.active > a{
    background-image: url(/images/categories/Icon-me-va-be-active.png);
}
li#menu-food_drink > a{
    background-image: url(/images/categories/Icon-thuc-pham.png);
}
li#menu-food_drink.active > a{
    background-image: url(/images/categories/Icon-thuc-pham-active.png);
}
li#menu-gift > a{
    background-image: url(/images/categories/icon-qua.png);
}
li#menu-gift.active > a{
    background-image: url(/images/categories/icon-qua-active.png);
}
li#menu-hot > a{
    background-image: url(/images/mn-hot.fw.png);
}
li#menu-vietnam > a{
    background-image: url(/images/mn-made-in-viet-name.fw.png);
    width: 200px;
}
ul.lynx-menu-lvl-2 li#menu-best > a > span.menu-icon{
    background: url(/images/categories/best.png) no-repeat;
    background-position: 50% 0;
}

.head-menu > ul > li.EN-US > a{min-width: 150px;}
.head-menu > ul > li.VN-VI > a{min-width: 150px;}
.head-menu > ul > li.KO-KR > a{min-width: 149px;}
li#menu-family.VN-VI > a{
    min-width: 147px;
}
li#menu-family.EN-US > a{
    min-width: 100px;
}
li#menu-family.KO-KR > a{
    min-width: 150px;
}
/* family children */
.lynx-menu-lvl-2 li#menu-living .menu-icon{
    background-image: url('/images/categories/family/Family2_2.png');
}
.lynx-menu-lvl-2 li#menu-kitchen_dinning .menu-icon{
    background-image: url('/images/categories/family/Kitchen1_2.png');
}
.lynx-menu-lvl-2 li#menu-bath_bed .menu-icon{
    background-image: url('/images/categories/family/Bath1_2.png');
}
.lynx-menu-lvl-2 li#menu-home_deco .menu-icon{
    background-image: url('/images/categories/family/Decor2_2.png');
}
.lynx-menu-lvl-2 li#menu-cloths_towels .menu-icon{
    background-image:  url('/images/categories/family/Khan1.png');
}
.lynx-menu-lvl-2 li#menu-sport .menu-icon{
    background-image: url('/images/categories/family/Thethao1.png');
}
.lynx-menu-lvl-2 li#menu-family_other .menu-icon{
    background-image: url('/images/categories/family/Other1_2.png');
}
/* mom baby */
.lynx-menu-lvl-2 li#menu-diapering .menu-icon{
    background-image: url('/images/categories/mom_baby/Diaper1.png');
}
.lynx-menu-lvl-2 li#menu-baby_clothings .menu-icon{
    background-image: url('/images/categories/mom_baby/Cloth1.png');
}
.lynx-menu-lvl-2 li#menu-smart_toys .menu-icon{
    background-image: url('/images/categories/mom_baby/toy1.png');
}
.lynx-menu-lvl-2 li#menu-mom_clothings .menu-icon{
    background-image: url('/images/categories/mom_baby/icon_babau-1_2.png');
}

.lynx-menu-lvl-2 li#menu-bath_baby_care .menu-icon{
    background-image: url('/images/categories/mom_baby/Bath1.png');
}
.lynx-menu-lvl-2 li#menu-accessories_bed .menu-icon{
    background-image: url('/images/categories/mom_baby/Sleep1.png');
}
.lynx-menu-lvl-2 li#menu-mom_other .menu-icon{
    background-image: url('/images/categories/mom_baby/Other1_2.png');
}
/* food */
.lynx-menu-lvl-2 li#menu-junk_food .menu-icon{
    background-image: url('/images/categories/food/Instant1.png');
}

.lynx-menu-lvl-2 li#menu-drink .menu-icon{
    background-image: url('/images/categories/food/Drink1.png');
}
.lynx-menu-lvl-2 li#menu-sweetened .menu-icon{
    background-image: url('/images/categories/food/Banh1.png');
}
.lynx-menu-lvl-2 li#menu-condiments .menu-icon{
    background-image: url('/images/categories/food/Giavi1.png');
}
.lynx-menu-lvl-2 li#menu-food_other .menu-icon{
    background-image: url('/images/categories/food/Others.png');
}
.lynx-menu-lvl-2 li#menu-food_special .menu-icon{
    background-image: url('/images/categories/food/Special.png');
}
/* gift */
.lynx-menu-lvl-2 li#menu-traditional_clothes .menu-icon{
    background-image: url('/images/categories/gift/Clothes1.png');
}
.lynx-menu-lvl-2 li#menu-handmade .menu-icon{
    background-image: url('/images/categories/gift/Handmade.png');
}
.lynx-menu-lvl-2 li#menu-greeting_card .menu-icon{
    background-image: url('/images/categories/gift/Card1.png');
}
.lynx-menu-lvl-2 li#menu-gift_other .menu-icon{
    background-image: url('/images/categories/gift/Other1.png');
}