@CHARSET "UTF-8";
.banner-box{
    margin:auto;
    background-color: white;
}
.carousel-control{
    width:7%;
}
.banner-box .carousel-control.left,.banner-box .carousel-control.right{
    background: none;

}
.banner-box .carousel-control.right:hover{
    background: rgba(0,0,0,.3);
    background-repeat: repeat-x;
}
.banner-box .carousel-control.left:hover{
    background: rgba(0,0,0,.3);
    background-repeat: repeat-x;
}
.banner-box a.carousel-control span.fa{
    color: white;
    margin-top: 130px;
}
.tab-content .carousel-indicators{
    bottom:-40px;
}
.tab-content .carousel-indicators li{
    background-color: white;
    border-color:#BEC5C6;
}
.tab-content .carousel-indicators .active{
    background-color: #BEC5C6;
}
.lynx-adv-home{
    margin-top:40px;
}

#carousel-home-banner .carousel-control span{
    opacity: 0;
    background: url(/images/banner-nav.png) no-repeat;
    width: 54px;
    height: 104px;
    display: block;
    margin: auto;
    margin-top: 128px;
    text-indent: -9999px;
}
#carousel-home-banner:hover .carousel-control span{
    opacity: 1;
}
#carousel-home-banner .left.carousel-control span{
    background-position: 0 0;
}
#carousel-home-banner .right.carousel-control span{
    background-position: -130px 0;
}
.group-__root__ .row-1 .feature-img-0{
    width: 49.25%;
    height: 311px;
    margin-right: 1.25%;
}
.group-__root__ .row-2 .feature-img-3{
    width: 366px;
    height: 263px;
}
.row-1 .lynx-box-small{
    width: 23.75%;
    height: 311px;
    margin-right: 1.25%;
    padding:8px;
}
.row-1 .lynx-box-small .image{
    width: 100%;
    height: 207px;
}
.row-1 .lynx-box-small .sales-balloon{
    top: 125px;
}