@CHARSET "UTF-8";
.lynx_container .lynx_banner{
    display:inline-block;
    width:100%;
}
.lynx_banner .lynx_slide
{
    width:100%;
    background: #EFF5F8;
    display:inline-block;
    height:450px;
}
.lynx_banner .lynx_suggest{
    width:100%;
    background: white;
    display:inline-block;
    height:45px;
    background: transparent url('../images/suggest-bg.png') repeat-x top left;
}
.lynx_suggest .lynx_suggetWarp{
    display:inline-block;
}
.lynx_suggest .lynx_suggestItem{
    width:33%;
    display:inline-block;
    height:60px;
    margin-top:-20px;
}
.lynx_suggest .lynx_step1{
    background: transparent url('../images/suggest-setp1-bg.png') no-repeat center top;
}
.lynx_suggest .lynx_step2{
    background: transparent url('../images/suggest-setp2-bg.png') no-repeat center top;
}
.lynx_suggest .lynx_step3{
    background: transparent url('../images/suggest-setp3-bg.png') no-repeat center top;
}
.lynx_container .lynx_hotProducts{
    height:435px;
    display:inline-block;
    background: transparent url('../images/hot-footer.png') no-repeat center 395px;
}
.lynx_hotProducts .lynx_slideItemsContainer{
    width:1200px;
    height:395px;
    padding:15px;
    background-color: #F3F3F3;
    overflow: hidden;
    position: relative;
}
.lynx_slideItemsContainer .lynx_head{
    background: transparent url('../images/line.png') repeat-x 0px 13px;
}
.lynx_slideItemsContainer .lynx_head span{float:left;background-color: #F3F3F3}
.lynx_slideItemsContainer .lynx_head span:first-child{padding-left:10px;}
.lynx_slideItemsContainer .lynx_head span, .lynx_slideItemsContainer .lynx_head span *,.lynx_slideItemsContainer .lynx_head span a{;color: #3D79A5;}
.lynx_slideItemsContainer .lynx_head *{font-size:22px;}
.lynx_slideItemsContainer .lynx_head span a.active{color: #F0B21C;} 



.lynx_listProducts .lynx_navigateLink{
    display:inline-block;
    float:right;

}
.lynx_listProducts .lynx_head span{
    font-size: 22px;
    line-height: 31px;
    padding: 4px 80px 0px 5px;
    float:left;
    background-color: #3E79A6;
    color:white;
}

.lynx_listProducts .lynx_navigateLink a{
    font-size: 14px;
    line-height: 30px;
    color:#3D79A5;
    float:right;
}


.lynx_hotProducts .lynx_hotSildeButton{
    height:395px;
    width:37px;
    cursor: pointer;
}
.lynx_hotProducts .lynx_left{
    float:left;
    margin-left: -44px;
    background: transparent url('../images/hot-products-button-left.fw.png') no-repeat center left;
}
.lynx_hotProducts .lynx_right{
    float:right;
    margin-right: -44px;
    background: transparent url('../images/hot-products-button-right.fw.png') no-repeat center left;
}

.lynx_listProducts .lynx_listItem{
    padding-top:12px;
}