@CHARSET "UTF-8";
.lynx_container .lynx_banner{
    display:inline-block;
    width:100%;
}
.lynx_banner .lynx_slide
{
    width:100%;
    background: #EFF5F8;
    display:inline-block;
    height:450px;
}
.lynx_banner .lynx_suggest{
    width:100%;
    background: white;
    display:inline-block;
    height:45px;
    background: transparent url('../images/suggest-bg.png') repeat-x top left;
}
.lynx_suggest .lynx_suggetWarp{
    display:inline-block;
}
.lynx_suggest .lynx_suggestItem{
    width:33%;
    display:inline-block;
    height:60px;
    margin-top:-20px;
}
.lynx_suggest .lynx_step1{
    background: transparent url('../images/suggest-setp1-bg.png') no-repeat center top;
}
.lynx_suggest .lynx_step2{
    background: transparent url('../images/suggest-setp2-bg.png') no-repeat center top;
}
.lynx_suggest .lynx_step3{
    background: transparent url('../images/suggest-setp3-bg.png') no-repeat center top;
}
.lynx_container .lynx_hotProducts{
    height:435px;
    display:inline-block;
    background: transparent url('../images/hot-footer.png') no-repeat center 395px;
}
.lynx_hotProducts .lynx_hotItemsContainer{
    width:1200px;
    height:395px;
    padding:15px;
    background-color: #F3F3F3;
}
.lynx_hotItemsContainer .lynx_head{
    background: transparent url('../images/line.png') repeat-x 0px 13px;
}
.lynx_hotItemsContainer .lynx_head span{float:left;background-color: #F3F3F3}
.lynx_hotItemsContainer .lynx_head span:first-child{padding-left:10px;}
.lynx_hotItemsContainer .lynx_head span, .lynx_hotItemsContainer .lynx_head span *,.lynx_hotItemsContainer .lynx_head span a{;color: #5C850F;}
.lynx_hotItemsContainer .lynx_head *{font-size:22px;}
.lynx_hotItemsContainer .lynx_head span a.active{color: #F0B21C;} 
.lynx_listItem{

}
.lynx_listItem .lynx_item{
    width:282px;
    height:329px;
    background: white;
    margin:0px 6px 0px 6px;
    float:left;
    padding:13px;
    border-radius:7px;
    border: solid 1px #E7E7E7;
}
.lynx_listItem .lynx_hotFirst{
    margin-left: 0px;
}
.lynx_listItem .lynx_hotLast{
    margin-right: 0px;
}
.lynx_item img{
    border: solid 1px #E7E7E7;
    width: 255px;
    height:215px;
}
.lynx_item .lynx_detailContainer{
    margin-top:15px;
}
.lynx_detailContainer .lynx_name {
    width: 160px;
    float: left;
    font-size:14px;
    text-align:left;
}
.lynx_detailContainer .lynx_name a{
    color:black;
    font-weight: bold;
}
.lynx_detailContainer .lynx_price{
    color:#F0B21C;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    float:right;
    margin-top:-4px;
}
.lynx_detailContainer .lynx_userName{
    float: left;
    font-size:12px;
    text-align:left;
    width:100%;
}
.lynx_detailContainer .lynx_star{
    float:left;
    width:150px;
    text-align: left;
    height:20px;
}
.lynx_detailContainer .lynx_star img{
    height:20px;
    border:none;
    width:auto;
}
.lynx_detailContainer .lynx_view{
    float:right;
    text-align: right;
    font-size:12px;
    padding-left:20px;
    background: transparent url('../images/view-icon.png') no-repeat center left;
    line-height: 12px;
    margin-top:4px;
}
.lynx_container .lynx_listProducts
{
    width:1200px;
    padding:0px 15px 0px 15px;
    display:inline-block;
    margin-bottom:37px;
}
.lynx_listProducts .lynx_head{
    height: 35px;
    background: transparent url('../images/list-product-head-bg.png') no-repeat center bottom;
}
.lynx_listProducts .lynx_navigateLink{
    display:inline-block;
    float:right;
    
}
.lynx_listProducts .lynx_navigateLink a{
    font-size: 14px;
    line-height: 30px;
    color:#5B850F;
    float:right;
}
.lynx_listProducts .lynx_itemConatiner{
    padding-top:20px;
}

.lynx_listProducts .lynx_item{
    width:280px;
    height:329px;
    background: white;
    margin:0px 5px 0px 5px;
    float:left;
    padding:13px;
    border-radius:7px;
    border: solid 1px #E7E7E7;
    margin-bottom:30px;
}
.lynx_item img{
    border: solid 1px #E7E7E7;
    width: 255px;
    height:215px;
}
.lynx_item .lynx_detailContainer{
    margin-top:15px;
}
.lynx_detailContainer .lynx_name{
    width: 160px;
    float: left;
    font-size:14px;
    text-align:left;
    color:black;
    font-weight: bold;
}
.lynx_detailContainer .lynx_price{
    color:#F0B21C;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    float:right;
    margin-top:-4px;
}
.lynx_detailContainer .lynx_userName{
    float: left;
    font-size:12px;
    text-align:left;
    width:100%;
}
.lynx_detailContainer .lynx_star{
    float:left;
    width:150px;
    text-align: left;
    height:20px;
}
.lynx_detailContainer .lynx_star img{
    height:20px;
    border:none;
    width:auto;
}
.lynx_detailContainer .lynx_view{
    float:right;
    text-align: right;
    font-size:12px;
    padding-left:20px;
    background: transparent url('../images/view-icon.png') no-repeat center left;
    line-height: 12px;
    margin-top:4px;
}
.lynx_listProducts div.lynx_towCol{
    width:580px;
    padding:0px;
    border:none;
    margin: 0px 0px 30px 0px;
}
.lynx_listProducts div.lynx_towCol img{
    width:578px;
    height:329px;
}

.lynx_container .lynx_slideGroup{
    width:1200px;
    display:inline-block;
    margin-bottom: 40px;
}
.lynx_container .lynx_slideGroup .lynx_item{
    float:left;
    margin:0px 8px;
}
.lynx_container .lynx_slideGroup div.lynx_first-child{
    margin:0px 8px 0px 0px;
}
.lynx_container .lynx_slideGroup div.lynx_last-child{
    margin:0px 0px 0px 8px;
}
.lynx_container .lynx_slideGroup .lynx_item img{
    width: 375px;
}
.lynx_hotProducts .lynx_hotSildeButton{
    height:395px;
    width:37px;
    display:inline-block;
    cursor: pointer;
}
.lynx_hotProducts .lynx_left{
    float:left;
    margin-left: -44px;
    background: transparent url('../images/hot-products-button-left.fw.png') no-repeat center left;
}
.lynx_hotProducts .lynx_right{
    float:right;
    margin-top:-395px;
    margin-right: -44px;
    background: transparent url('../images/hot-products-button-right.fw.png') no-repeat center left;
}