@CHARSET "UTF-8";
span input{text-align: left;}
.lynx_contentWarp{
    display:inline-block;
	min-height: 205px;
	margin-bottom: 10px;
}
.lynx_box {
	background: white;
	border: 1px solid #DDDDDD;
	color: #3A3A3A;
	position: relative;
}
.lynx_staticWidth{
	width:960px;
}

.lynx_contentWarp .lynx_leftContent {
    
}

.lynx_contentWarp .lynx_rightContent {
	width: 300px;
	min-height: 631px;
	float: right;
}
.lynx_contentWarp input,.lynx_contentWarp input[type='password'],.lynx_contentWarp input[type='text'],.lynx_contentWarp select{
	border-radius:0px;
}
#resg .box-body,#login .box-body{
	margin-top:20px;
}
.lynx_contentWarp .lynx_leftContent form,.lynx_rightContent form {
	padding: 10px;
}

.lynx_contentWarp .lynx_leftContent form {
	padding: 10px 50px 10px 50px;
}

.lynx_contentWarp .lynx_rightContent h3,.lynx_leftContent h3 {
	font-size: 18px;
	line-height: 20px;
	color: #3A3A3A;
	text-align: left;
	font-weight: bold;
	border-bottom: dashed 1px #DDDDDD;
	padding-bottom: 10px;
	margin:0px;
}
.lynx_contentWarp .lynx_leftContent h3 > em{
	color : #FF3300;
	font-size: 12px;
	font-style: italic;
}
.form-group{
	text-align: left;
}
.lynx_contentWarp  .form-group label{
    display:block;
}
form input[type='text'],input[type='password'], textarea {
	text-align: left;
}

.lynx_rightContent form h2 {
	text-align: left;
	margin: 20px 0px 10px 0px;
	font-size: 14px;
}

.lynx_rightContent form .lynx_button {
	margin-top: 20px;
}

.lynx_rightContent form .lynx_button span span {
	width: 260px;
}

.lynx_rightContent form a {
	float: left;
	margin-top: 20px;
}

.lynx_leftContent {
	width: 650px;
	float: left;
	min-height: 500px;
	
}

.lynx_contentWarp .lynx_rightContent h4,.lynx_leftContent h4 {
	color: red;
	margin-top: 20px;
	font-size: 14px;
}

.lynx_contentWarp .lynx_rightContent h4 i {
	font-size: 20px;
	color: red;
	margin-right: 10px;
}

.lynx_leftContent .lynx_row {
	text-align: left;
	margin: 10px 0;
}

.lynx_leftContent span {
	display: inline-block;
	width: 120px;
	text-align: left;
}

.lynx_leftContent form .lynx_button span {
	width: auto;
}

.lynx_leftContent form input[name="dob"] {
	width: 150px;
}
.lynx_leftContent .btn, .lynx_rightContent .btn{
    background: #0CA9D2;
	border:none;
	border-radius : 0px;
	box-shadow : 0px 0px 10px rgba(0,0,0,0.2);
}

.lynx_leftContent form select[name="sex"] {
	width: 165px;
	min-height: 28px;
}
.lynx_register_seller_form .lynx_leftContent input[type="text"],
.lynx_register_seller_form .lynx_leftContent input[type="password"], 
.lynx_register_seller_form .lynx_leftContent textarea{
    width: 430px;
}

.lynx_leftContent form input[name="password"],
.lynx_leftContent form input[name="passwordRetry"],
.lynx_leftContent form input[name="fristName"],
.lynx_leftContent form input[name="lastName"] ,
.lynx_register_seller_form .lynx_leftContent form input[name="txt_email"],
.lynx_register_seller_form .lynx_leftContent form input[name="txt_phone"]
{
	width: 150px;
}
#lbl-additional-info{
    float:left;
    margin-right: 5px;
}


.lynx_leftContent form input[name="username"] {
	width: 430px;
}
.lynx_leftContent .help-block{
	font-size: 10px;
	color:gray;
	font-style: italic;
}

.lynx_leftContent form input[name="answer"] {
	width: 430px;
}

.lynx_leftContent .lynx_contract {
	height: 150px;
	background-color: white;
	overflow: hidden;
}
