@CHARSET "UTF-8";
span input{text-align: left;}
.lynx_contentWarp{
    display:inline-block;
	min-height: 205px;
}



.lynx_box {
	background: #FBFBFB;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	color: #3A3A3A;
	position: relative;
}

.lynx_contentWarp .lynx_leftContent {
	
}

.lynx_contentWarp .lynx_rightContent {
	width: 300px;
	min-height: 500px;
	float: right;
}

.lynx_contentWarp .lynx_leftContent form,.lynx_rightContent form {
	padding: 10px;
}

.lynx_contentWarp .lynx_leftContent form {
	padding: 10px;
}

.lynx_contentWarp .lynx_rightContent h3,.lynx_leftContent h3 {
	font-size: 18px;
	line-height: 20px;
	color: #3A3A3A;
	text-align: left;
	font-weight: bold;
	border-bottom: solid 1px #DDDDDD;
	padding-bottom: 10px;
}

form input[type='text'],input[type='password'] {
	padding: 6px;
	width: 265px;
	border: solid 1px #b2b2b2;
	border-radius: 3px;
	box-shadow: inset 0px 5px 5px #efefef;
	resize: none;
	text-align: left;
}

.lynx_rightContent form h2 {
	text-align: left;
	margin: 20px 0px 10px 0px;
}

.lynx_rightContent form .lynx_button {
	margin-top: 20px;
}

.lynx_rightContent form .lynx_button span span {
	width: 260px;
}

.lynx_rightContent form a {
	float: left;
	margin-top: 20px;
}

.lynx_leftContent {
	width: 900px;
	float: left;
	min-height: 500px;
}

.lynx_contentWarp .lynx_rightContent h4,.lynx_leftContent h4 {
	color: red;
	margin-top: 20px;
	font: 20px;
}

.lynx_contentWarp .lynx_rightContent h4 i {
	font-size: 20px;
	color: red;
	margin-right: 10px;
}

.lynx_leftContent .lynx_row {
	text-align: left;
	margin: 10px 0;
}

.lynx_leftContent span {
	display: inline-block;
	width: 120px;
	text-align: left;
}

.lynx_leftContent form .lynx_button {
	margin-left: 200px;
}

.lynx_leftContent form .lynx_button span {
	width: auto;
}

.lynx_leftContent form input[name="dob"] {
	width: 150px;
}

.lynx_leftContent form select[name="sex"] {
	width: 165px;
	min-height: 28px;
}

.lynx_leftContent form input[name="password"] {
	width: 150px;
}

.lynx_leftContent form input[name="passwordRetry"] {
	width: 150px;
}

.lynx_leftContent form input[name="fristName"] {
	width: 150px;
}

.lynx_leftContent form input[name="lastName"] {
	width: 150px;
}

.lynx_leftContent form input[name="username"] {
	width: 430px;
}

.lynx_leftContent form select[name="question"] {
	width: 430px;
	height: 28px;
}

.lynx_leftContent form input[name="answer"] {
	width: 430px;
}

.lynx_leftContent .lynx_contract {
	height: 150px;
	background-color: white;
	overflow: hidden;
}