@CHARSET "UTF-8";
.lynx_contentWarp{
    display:inline-block;
}
.lynx_lostPasswordContainer{
    display: inline-block;
    min-height: 400px;
    background: #FBFBFB;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    color: #3A3A3A;
    position: relative;
    padding:0px 10px 10px 10px;
    float: left;
    width:400;
}
.lynx_lostPasswordContainer h3{
    text-align: left;
    border-bottom: solid 1px #DDDDDD; 
}
.lynx_lostPasswordContainer form{
    text-align: left;
}
.lynx_lostPasswordContainer form span{
    display: inline-block;
	width: 75px;
	text-align: left;
}
.lynx_lostPasswordContainer form input[type="text"]{
    text-align: left;
    width:200px;
}
.lynx_lostPasswordContainer form input[type="button"]{
    margin-left: 85px;
	margin-top: 5px;
}
.lynx_lostPasswordDescription{
    text-align: left;
}