@CHARSET "UTF-8";
body{font-size: 12px; font-family: helvetica;}
#pageMask{
    position: fixed;
    height:100%;
    width:100%;
    background: black url('../images/ajax_loader_blue_32.gif') no-repeat center center;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    left: 0px;
    top: 0px;
    z-index:9999;
}
.cursor-pointer{
    cursor: pointer;
}
.form-control{
    font-size: 12px;
    height:30px;
}
.right-side > .content-header > h1 > small{
    font-size: 12px;
}
.right-side > .content-header > h1{
    font-size: 16px;
}
.btn {font-size: 12px;}
.navbar{min-height:40px;}
.navbar-nav > li > a{padding:10px;}

