@CHARSET "UTF-8";
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0px; padding: 0px;text-align: center;font-family: Levenim MT;color:#939393; font-size: 14px;font-weight: normal;font-style: normal;text-decoration: none;}
body{background-color: white;}
li{list-style: none;}
.lynx_container{}
.lynx_staticWidth{width:1200px;}
.lynx_head{
    display:inline-block;
    width:100%;
}
.lynx_head .lynx_headWarp{
    display:inline-block;
}

.lynx_head .lynx_logo{
    background: transparent url('../images/logo.png') no-repeat top left;
    float:left;
    width:254px;
    height: 50px;
    display:inline-block;
    margin:14px 0px;
    cursor: pointer;
}
.lynx_head .lynx_headLeft{
    float:right;
    margin-top: 45px;
    cursor: pointer;
}
.lynx_head .lynx_headLeft .lynx_sell,.lynx_liveChat,.lynx_language .lynx_label{
    font-size: 12px;
    line-height: 22px;
}
.lynx_head .lynx_headLeft .lynx_sell,.lynx_liveChat,.lynx_language{
    margin-left: 10px;
    float:left;
}
.lynx_head .lynx_headLeft .lynx_liveChat{
    background: transparent url('../images/chat-icon.png') no-repeat top left;
    padding-left:24px;
}
.lynx_head .lynx_headLeft .lynx_sell{
    background: transparent url('../images/sell-icon.png') no-repeat top left;
    padding-left:20px;
}
.lynx_head .lynx_headMenu {
    width:100%;
    height:43px;
    background:#5c850f;
}
.lynx_headMenu .lynx_menuWarp
{
    display:inline-block;
    height:43px;
}
.lynx_headMenu .lynx_menuWarp .lynx_category{
    width:145px;
    margin-right:15px;
    float:left;
    text-align: right;
    color:#c3df63;
    line-height:44px;
    font-size:20px;
    cursor: pointer;
}
.lynx_headMenu .lynx_menuWarp .lynx_searchForm{
    padding: 3px 5px;
    width:700px;
    height:43px;
    float:left;
    background: #448e41;
}
.lynx_searchForm input,.lynx_searchForm span {
    float:left;
    line-height:40px;
    color:#c3df63;
    padding:0px 10px;
    font-size:20px;
    cursor: pointer;
}
.lynx_searchForm input{
    height:37px;
    width:560px;
}
.lynx_searchForm span{
    margin-left:10px;
}
.lynx_menuWarp .lynx_loginLabel{
    padding-left:10px;
    float:left;
}
.lynx_menuWarp .lynx_loginLabel a{
    line-height:44px;
    font-size:12px;
    color:#c3df63;
}
.lynx_menuWarp .lynx_miniCart{
    line-height:44px;
    font-size:12px;
    color:#c3df63;
    float:right;
    padding-left:30px;
    background: transparent url('../images/cart-mini-icon.png') no-repeat center left;
    cursor: pointer;
}
.lynx_footer{
    height:330px;
    background: #EFF0E2;
    
}
.lynx_footer .lynx_content{
    width:1200px;
    height:290px;
    padding:35px 0px;
    margin:auto;
}
.lynx_footer .lynx_content .lynx_col1{
    float:left;
    width: 210px;
}
.lynx_footer .lynx_content .lynx_col1 *{
    float:left;
    text-align: left;
    color: black;
}

.lynx_footer .lynx_content .lynx_col1 .lynx_contact{
    margin: 10px 0px;
}
.lynx_footer .lynx_content .lynx_col1 .lynx_share{
    margin: 0px 5px 0px 0px;
}
.lynx_footer .lynx_content .lynx_col1 .lynx_logo{
    margin-top: -5px;
}
.lynx_footer .lynx_content .lynx_col2{
    float:left;
    margin-left:40px;
    width: 470px;
    display:block;
}

.lynx_footer .lynx_content .lynx_col2 *{
    float:left;
    text-align: left;
    color: black;
}
.lynx_footer .lynx_content .lynx_col2 span{
    font-size:20px;
    line-height:20px;
    font-weight: bold;
    width:100%;
    margin:7px 0px;
}
.lynx_footer .lynx_content .lynx_col2 .lynx_cell{
    width:49%;
}
.lynx_footer .lynx_content .lynx_col2 li{
    width:93%;
    padding-left: 4%;
    margin-left:2%;
    background: transparent url('../images/list-icon.fw.png') no-repeat left 4px;
}
.lynx_footer .lynx_content .lynx_col3{
    margin-top:10px;
    margin-left: 5px; 
    float:left;
    width: 445px;
    background: transparent url('../images/v-line.fw.png') no-repeat top left;
    height:190px;
}
.lynx_footer .lynx_content .lynx_col3 img{
   margin-left: 30px;
   margin-top: -10px;
}

.lynx_footer .lynx_content .lynx_col3 *{
    float:left;
    text-align: left;
    color: black;
}
.lynx_footer .lynx_copyright{
    background: #5B850F;
}
.lynx_footer .lynx_copyright .lynx_copycontent {
    text-align: left;
    font-size: 12px;
    line-height: 40px;
    margin:auto;
    padding:0px 15px;
    width:1200px;
    color:white;
}
body .lynx_cart{
    display:inline-block;
    position: fixed;
    right: 0px;
    top: 500px;
    width:70px;
    height: 90px;
    background: transparent url('../images/cart.png') no-repeat top center;
}
body .lynx_cart span{
    width:100%;
    font-size: 10px;
    margin-top:70px;
    float:left;
    color:#26336A;
    display:inline-block;
}

.lynx_container .lynx_listProducts
{
    width:1200px;
    padding:0px 15px 0px 15px;
    display:inline-block;
    margin-bottom:30px;
}
.lynx_listProducts .lynx_head{
    height: 35px;
    background: transparent url('../images/list-product-head-bg.png') no-repeat center bottom;
}
.lynx_listProducts .lynx_head span{
    font-size: 22px;
    line-height: 28px;
    padding: 4px 80px 0px 5px;
    float:left;
    background-color: #D1E380;
    color:#5B850F;
    margin-right:10px;
}
.lynx_listProducts .lynx_head span.active{
    background:#B2CC4B;
    
}

.lynx_listProducts .lynx_navigateLink a{
    font-size: 14px;
    line-height: 46px;
    color:#5B850F;
    float:right;
}
.lynx_listProducts .lynx_itemConatiner{
    text-align: left;
}

.lynx_container .lynx_slideItemsContainer{
    width:1200px;
    height:395px;
    display:inline-block;
    margin:auto;
}
.lynx_slideItemsContainer .lynx_head{
    margin-left:20px;
    
}
.lynx_slideItemsContainer .lynx_head span{
    float:left;
    font-size:18px;
    color:black;
    margin-bottom:10px;   
    
}
.lynx_slideItemsContainer .lynx_listItem{
    display:inline-block;
}
.lynx_listItem .lynx_item{
    width:282px;
    height:329px;
    background: white;
    margin:0px 6px 0px 6px;
    float:left;
    padding:13px;
    border-radius:7px;
    border: solid 1px #E7E7E7;
}
.lynx_item img{
    border: solid 1px #E7E7E7;
    width: 255px;
    height:215px;
}
.lynx_listItem .lynx_slideFirst{
    margin-left: 0px;
}
.lynx_listItem .lynx_slideLast{
    margin-right: 0px;
}
.lynx_item .lynx_detailContainer{
    margin-top:15px;
}
.lynx_detailContainer .lynx_name{
    width: 160px;
    float: left;
    font-size:14px;
    text-align:left;
    color:black;
    font-weight: bold;
}
.lynx_detailContainer .lynx_price{
    color:#F0B21C;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    float:right;
    margin-top:-4px;
}
.lynx_detailContainer .lynx_userName{
    float: left;
    font-size:12px;
    text-align:left;
    width:100%;
}
.lynx_detailContainer .lynx_star{
    float:left;
    width:150px;
    text-align: left;
    height:20px;
}
.lynx_detailContainer .lynx_star img{
    height:20px;
    border:none;
    width:auto;
}
.lynx_detailContainer .lynx_view{
    float:right;
    text-align: right;
    font-size:12px;
    padding-left:20px;
    background: transparent url('../images/view-icon.png') no-repeat center left;
    line-height: 12px;
    margin-top:4px;
}
.lynx_listProducts div.lynx_towCol{
    width:580px;
    padding:0px;
    border:none;
    margin: 0px 8px 30px 0px;
}
.lynx_listProducts div.lynx_towCol img{
    width:578px;
    height:329px;
}
.lynx_sildeButton{
    height:329px;
    width:37px;
    display:inline-block;
    cursor: pointer;
}
.lynx_listItem .lynx_left{
    float:left;
    margin-left: -44px;
    background: transparent url('../images/hot-products-button-left.fw.png') no-repeat center left;
}
.lynx_listItem .lynx_right{
    float:right;
    margin-top:0px;
    margin-right: -44px;
    background: transparent url('../images/hot-products-button-right.fw.png') no-repeat center left;
}
body span.lynx_spanButton{
    color:#5C850F !important;  
    font-size: 15px !important; 
    line-height: 15px !important; 
    padding:10px !important;
    padding-top:12px !important; 
    background: #E4E8DC !important; 
    cursor: pointer !important;
}
strong, strong *{font-weight: bold;}
.center, .center *{text-align: center;}
.left, .left *{text-align:left;}
.right, .right *{text-align: right;}
.preload{display:none;}
img.loading{width:32px;height:32px;}

.lynx_category  > .dropdown-toggle > span, .lynx_category  > .dropdown-toggle > span > span{color: #c3df63;}
.lynx_loginLabel {line-height: 43px;}
.dropdown-toggle > a,.dropdown-toggle > a .caret{color:#c3df63}
.lynx_loginLabel span a{line-height: 43px;display: inline-block;}
.lynx_loginLabel a:hover{text-decoration: none;}
.lynx_miniCart .dropdown-menu{left:auto;right: 0;}
.dropdown-menu{min-width:250px;}
.lynx_miniCart > span, .lynx_miniCart  > span *{color:#c3df63; }
#lynx_cart{cursor: pointer;}
.lynx_category .dropdown-toggle{line-height:43px;display:inline-block;padding: 0 10px;}
.lynx_category .dropdown-toggle:hover{background-color: #448e41}
.lynx_loginLabel > a{display: inline-block;height: 43px;}
.lynx_miniCart:hover {background-color: #448e41}
.dropdown-menu{margin-top:0;}

