*{line-height: 22px;}
strong, b, strong *, b *{font-weight: bold;}
.hr{border-top:1px solid #ddd;margin: 15px 0;}
.hr.hr-small{margin: 5px 0;}
.hr.hr-mini{margin:0;}
fieldset{border-top: 1px solid #ccc;margin-bottom:15px;}
fieldset legend{border: 1px solid #ccc;background: white;padding:5px 10px;margin-left:10px;font-weight:bold;}

.btn{background: none;border: 1px solid;color:black;padding: 5px 10px;height: 34px;line-height:24px;min-width:34px;}
.btn,.btn:hover, .btn:focus, .btn:active, .btn.active{background-color: #f8f8f8;border:1px solid #b2b2b2;color:#333;text-align:center;}
.btn.btn-primary{background: #69bf30;color: white;border-color:green;}
.btn-mini{padding:1px 3px;}
.btn-small{padding:3px 5px;}
.btn-large{padding: 8px 14px;font-size:120%;height: 38px;}
.btn-xlarge{padding:8px 14px;font-size:140%;height: 44px;line-height:30px;}
input, texarea,select{padding: 3px;border: 1px solid #b2b2b2;}
input{height:26px;line-height:26px;}

.control-group > .control-label, .control-group > .controls{padding:8px 14px;vertical-align:middle;min-height:34px;line-height:34px;}
.control-group > label.control-label{text-align:right;width:122px;float:left;display:inline-block;}
.control-group > .controls{margin-left:150px;}
.form-actions{margin-left:165px;margin-top:10px;}

.text-success{color: green;}
.text-danger{color: brown;}
.text-disabled{color: gray;}
.text-warning{color:#FFCC33;}
.text-success  *,.text-danger *, .text-disabled  *, .text-warning  *{color:inherit;}
.control-group.text-success input, .control-group.text-success textarea, .control-group.text-success select{border-color: green;}
.control-group.text-danger input, .control-group.text-danger textarea, .control-group.text-danger select{border-color: brown;}
.control-group.text-disabled input, .control-group.text-disabled textarea, .control-group.text-disabled select{border-color: gray;}
.control-group.text-warning input, .control-group.text-warning textarea, .control-group.text-warning select{border-color: #FFCC33;}

.input-tiny{width:15px}
.input-mini{width:30px}
.input-small{width: 50px;}
.input-normal{width: 150px;}
.input-large, [type=text], [type=number], [type=date], [type=datetime], [type=password]{width:200px;}
.input-xlarge{width:250px;}
.input-block-level{display:block;width:100%;}

h1,h2,h3,h4,h5,h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 *{font-weight: bold;color:#69bf30;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{text-decoration:underline;}
h1{font-size:22px;}
h2{font-size:20px;}
h3{font-size: 18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size: 12px;}
a:hover, a:hover *{color: #69bf30;}

.product{overflow:hidden;}
.product a.product-image{display:block;float:left;width: 200px;text-align:center;}
.product a.product-image img{width:150px;}
.product .product-details{padding:5px 10px;margin-left: 200px;padding-right:0;overflow:hidden;}
.product .product-details .col-left{margin-right:210px;float:left;}
.product .product-details .col-right{float:right;width:200px;}

.float-left{float:left;}
.float-right{float:right;}

a.link-menu{padding:10px;display:inline-block;}
a.link-menu.active, a.link-menu:hover{border-bottom: 2px solid #69bf30;}
a.sort-menu{padding:10px;}
.row-fluid [class*="span"]{text-align: left;}
.contentWarp .row-fluid{width:315px;float:left;}
.contentWarp .row-fluid .span4{width:315px;}
.contentWarp .row-fluid [class*="span"]{margin-left: 0px;}
.row-right {
    float: left;
    width: 660px;
}

