* {
	line-height: 22px;
}

strong,b,strong *,b * {
	font-weight: bold;
}

.lynx_hr {
	border-top: 1px solid #ddd;
	margin: 15px 0;
}

.lynx_hr.lynx_hr-small {
	margin: 5px 0;
}

.lynx_hr.lynx_hr-mini {
	margin: 0;
}

fieldset {
	border-top: 1px solid #ccc;
	margin-bottom: 15px;
}

fieldset legend {
	border: 1px solid #ccc;
	background: white;
	padding: 5px 10px;
	margin-left: 10px;
	font-weight: bold;
}

.lynx_btn {
	background: none;
	border: 1px solid;
	color: black;
	padding: 5px 10px;
	height: 34px;
	line-height: 24px;
	min-width: 34px;
}

.lynx_btn,.lynx_btn:hover,.lynx_btn:focus,.lynx_btn:active,.lynx_btn.lynx_active
	{
	background-color: #f8f8f8;
	border: 1px solid #b2b2b2;
	color: #333;
	text-align: center;
}

.lynx_btn.lynx_btn-primary {
	background: #69bf30;
	color: white;
	border-color: green;
}

.lynx_btn-mini {
	padding: 1px 3px;
}

.lynx_btn-small {
	padding: 3px 5px;
}

.lynx_btn-large {
	padding: 8px 14px;
	font-size: 120%;
	height: 38px;
}

.lynx_btn-xlarge {
	padding: 8px 14px;
	font-size: 140%;
	height: 44px;
	line-height: 30px;
}

input,texarea,select {
	padding: 3px;
	border: 1px solid #b2b2b2;
}

input {
    line-height: 26px;
}

.lynx_control-group>.lynx_control-label,.lynx_control-group>.lynx_controls
	{
	padding: 8px 14px;
	vertical-align: middle;
	min-height: 34px;
	line-height: 34px;
}

.lynx_control-group>label.lynx_control-label {
	text-align: right;
	width: 122px;
	float: left;
	display: inline-block;
}

.lynx_control-group>.lynx_controls {
	margin-left: 150px;
}

.lynx_form-actions {
	margin-left: 165px;
	margin-top: 10px;
}

.lynx_text-success {
	color: green;
}

.lynx_text-danger {
	color: brown;
}

.lynx_text-disabled {
	color: gray;
}

.lynx_text-warning {
	color: #FFCC33;
}

.lynx_text-success  *,.lynx_text-danger *,.lynx_text-disabled  *,.lynx_text-warning  *
	{
	color: inherit;
}

.lynx_control-group.lynx_text-success input,.lynx_control-group.lynx_text-success textarea,.lynx_control-group.lynx_text-success select
	{
	border-color: green;
}

.lynx_control-group.lynx_text-danger input,.lynx_control-group.lynx_text-danger textarea,.lynx_control-group.lynx_text-danger select
	{
	border-color: brown;
}

.lynx_control-group.lynx_text-disabled input,.lynx_control-group.lynx_text-disabled textarea,.lynx_control-group.lynx_text-disabled select
	{
	border-color: gray;
}

.lynx_control-group.lynx_text-warning input,.lynx_control-group.lynx_text-warning textarea,.lynx_control-group.lynx_text-warning select
	{
	border-color: #FFCC33;
}

.lynx_input-tiny {
	width: 15px
}

.lynx_input-mini {
	width: 30px
}

.lynx_input-small {
	width: 50px;
}

.lynx_input-normal {
	width: 150px;
}

.lynx_input-large,[type=text],[type=number],[type=date],[type=datetime],[type=password]
	{
	width: 200px;
}

.lynx_input-xlarge {
	width: 250px;
}

.lynx_input-block-level {
	display: block;
	width: 100%;
}

h1,h2,h3,h4,h5,h6,h1 *,h2 *,h3 *,h4 *,h5 *,h6 * {
	font-weight: bold;
	color: #69bf30;
	text-align: left;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

a:hover,a:hover * {
	color: #69bf30;
}

.lynx_product {
	overflow: hidden;
}

.lynx_product a.lynx_product-image {
	display: block;
	float: left;
	width: 200px;
	text-align: center;
}

.lynx_product a.lynx_product-image img {
	width: 150px;
}

.lynx_product .lynx_product-details {
	padding: 5px 10px;
	margin-left: 200px;
	padding-right: 0;
	overflow: hidden;
}

.lynx_product .lynx_product-details .lynx_col-left {
	margin-right: 210px;
	float: left;
}

.lynx_product .lynx_product-details .lynx_col-right {
	float: right;
	width: 200px;
}

.lynx_float-left {
	float: left;
}

.lynx_float-right {
	float: right;
}

a.lynx_link-menu {
	padding: 10px;
	display: inline-block;
}

a.lynx_link-menu.lynx_active,a.lynx_link-menu:hover {
	border-bottom: 2px solid #69bf30;
}

a.lynx_sort-menu {
	padding: 10px;
}
.lynx_row-fluid{
	width:200px;
	float:left;
}
.lynx_row-fluid [class*="span"] {
	text-align: left;
}

.lynx_contentWarp {
	display: inline-block;
	min-height: 205px;
	margin: 20px 0 40px 0;
}

.lynx_contentWarp .lynx_row-fluid {
	width: 209px;
	float: left;
}

.lynx_contentWarp .lynx_row-fluid .lynx_span4 {
	width: 315px;
}

.lynx_contentWarp .lynx_row-fluid [class*="span"] {
	margin-left: 0px;
}

.lynx_row-right {
	float: right;
	margin-bottom:10px;
}
.lynx_row-right div{
	text-align: left;
	
}

.lynx_row-right .lynx_row-head
{
    width:100%;
    height: 35px;
    background: transparent url('../images/list-product-head-bg.png') repeat center bottom;
	cursor: pointer;
}

.lynx_row-right .lynx_row-head span
{
    font-size: 22px;
	line-height: 31px;
	padding: 4px 80px 0px 5px;
	float: left;
	color: white;
}

.lynx_row-right .lynx_row-content 
{
	background: #FBFBFB;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
    color: #3A3A3A;
    width: 990px;
	padding:10px;
	display:inline-block;  
}
.lynx_row-content div.lynx_row span.lynx_lblFromtitle {
    display:inline-block;
    width:200px;
    text-align: left;
}
.lynx_row-content .lynx_datePicketLbl{
    width: 200px; 
    float: left;
}
.lynx_row-content div.lynx_row{margin-bottom:10px;}
.lynx_row-content div.lynx_row button.lynx_button{margin-left:200px;}
.lynx_historyTable{width:100%;}
.lynx_historyTable span{display:inline-block;text-align: left;}
.lynx_historyTable .lynx_colSys{width:100px;}
.lynx_historyTable .lynx_colIp{width:100px;}
.lynx_historyTable .lynx_colTime{width:200px;}
.lynx_rowGroup {
	border-bottom: solid 1px gray;
}
.lynx_contactList{
    cursor: pointer;
}
.lynx_contactList .lynx_left{
	float:left;
	width:50%;
}
.lynx_contactList .lynx_right{
    float:left;
    width:50%;
}
.lynx_InvoiceTable span{
    word-break: break-all;
}

.modal-body .lynx_row{
	text-align: left;
}
.modal-body .alert div{
	text-align: left;
}
.lynx_InvoiceList .lynx_InvoiceTable{
    width:100%;
    border: 1px dashed #939393;
    border-bottom: none;
}


.lynx_InvoiceList  .lynx_InvoiceTableLast{
    border-top: 1px dashed #939393;
}
.lynx_InvoiceList .hightLine{
    color: #e38d13;
}
.lynx_InvoiceTable .lynx_colDes,.lynx_InvoiceTable .lynx_colTax,.lynx_InvoiceTable .lynx_colPrice
{
    display: inline-block;
	text-align: left;
	padding:10px;

}
.lynx_InvoiceTable .lynx_colTax,.lynx_InvoiceTable .lynx_colPrice
{
    width:100px;

}
.lynx_InvoiceTable .lynx_colDes
{
    width:755px;
}

.lynx_colDes .lynx_productImage{
	float:left;
	margin:10px;
	margin-left:0px;
}

.lynx_InvoiceList .lynx_invoiceList_right .lynx_InvoiceTable{
    border: 1px dashed #939393;
}
.lynx_InvoiceList .lynx_invoiceList_right{
    width:700px;
}
.lynx_invoiceList_right .lynx_InvoiceTable .lynx_colDes{
    width:490px;
}
.lynx_InvoiceList .lynx_invoiceList_left{
	float:left;
	width:265px;
}
.lynx_InvoiceList .lynx_invoiceList_right{
	float:right;
}
.lynx_InvoiceList .lynx_inHightLine
{
	color:#D3D3D3;
}
.lynx_spanButton{
	cursor: pointer;
}
.lynx_incoiceProductButton{
    float:left;
	margin-top:10px;
}