@CHARSET "UTF-8";
.lynx_portalAdminContainer{
    margin: auto;
	display:inline-block;
}

.lynx_portalAdminContainer *{
    text-align: left;
}
.lynx_adminLeftMenu{
    width:240px;
	float:left;
}
.lynx_portalAdminContent {
    min-height:205px;
	width:960px;
	float:left;
    background: #FBFBFB;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	color: #3A3A3A;
	position: relative;
	padding:10px;
}
.lynx_portalAdminContent h4{
    border-bottom: 1px solid #DDDDDD;
	padding-bottom:5px;
}
.lynx_portalAdminContent .lynx_row{
	width:100%;
    display: inline-block;
	margin-bottom:10px;
}
.lynx_rowButton{
	text-align: center;
	display: block;
}
.lynx_rowButton button{
	
}
.lynx_row .lynx_fieldName {
	display:inline-block;
    margin-right:10px;
	margin-bottom:10px;
	text-align: left;
}
.lynx_row .lynx_fieldValue {
    margin-right:30px;
	margin-bottom:10px;
	text-align: left;
}
table.lynx_table{
    width:100%;
}
table.lynx_table td{
    border: dashed 1px #eaeaea;
}
table.lynx_table th{
    padding:5px;
    border: dashed 1px #d4d4d4;
}

table.lynx_table thead{
    line-height: 30px;
    background: #eaeaea;
}
table.lynx_table tbody{
    background: white;
}
table.lynx_table tbody tr td{
    padding:5px;
}
.lynx_productDes{
    text-align: left;
}
.lynx_productDes img{
    float:left;
    margin:0px 5px 5px 0px;
}
.lynx_productDes .lynx_productName{
    color: #66A7D9;
}