.nav-tabs>li{width:100%;}
.nav-tabs>li>a{text-align: left;border:none;border-radius: 0;border-top: 1px dotted;border-right: 1px solid #ddd;
               border-bottom: 1px dotted;color:#333;padding:4px 6px;background: #E8F0F5;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border-left: none;border-right: none;}
.page-header{margin:0;text-align: left;font-size: 16px;}
.actions{float:right;padding-bottom: 10px;}
.actions a{padding: 0 8px;}
.form-group *{text-align: left;}
.form-group .control-label{font-weight: normal;}
.input-size-medium, .form-control.input-size-medium {width: 250px;}
label{font-weight: normal}
table.dataTable tbody th, table.dataTable tbody td{padding:5px !important;}
table.dataTable thead th, table.dataTable thead td{padding:5px !important;}