
/*categoryContent*/
.content .rowContent{width:100%;}
.categoryContent
{
    background: url(../images/content-bg.gif) top repeat-x #fff;
}
/* BreadCrumbs */
.breadcrumbs {
	background:#FBFBFB;
	border: 1px solid #DDDDDD;
	padding:8px 19px;
	margin:0 0 30px;
	overflow:hidden;
}
.breadcrumbs li { float:left; }
.breadcrumbs li a {text-decoration:none; }
.breadcrumbs li a:hover {color: #69bf30;}
.breadcrumbs li span {	display:inline-block;	margin:0 8px 0 6px;}
.breadcrumbs li strong {font-weight:normal; }

/*categoryContainter*/
#categoryContainter .span3
{
    width: 22.5%;
}
#categoryContainter .span9
{
    width: 75%;
}

/*block*/
.categoryFilter
{
    margin-top: 10px;
}
.block { margin:0 0 20px; }
.block.last_block {margin-bottom:0;}
.block .block-title {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3b', endColorstr='#171717'); /*IE6-9 */
	  background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), to(#171717)); 
	  background: -moz-linear-gradient(top,  #3b3b3b,  #171717); /*firefox 3.6+ */
	  background: -o-linear-gradient(top,  #3b3b3b,  #171717); /*  Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #3b3b3b,  #171717); /*  IE10+ */
	  -webkit-border-radius: 4px 4px 0 0;
	  -moz-border-radius: 4px 4px 0 0;
	  border-radius: 4px 4px 0 0;
	margin-bottom:30px;
	position:relative;
	padding: 11px 19px 12px;
}

.block .block-title strong {
    font-size:17px;
    line-height:22px;
    color:#fff;
    font-weight:bold;
}
.block .block-title a { text-decoration:none !important; }
.block .block-subtitle {
	font-size:13px;
	line-height:16px;
	color:#2d2328;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.block .block-content {width: 100%;}
.block  li.item { padding: 12px 0; border-bottom:1px solid #ececec; }
.block  li.last {border: 0;}
.block  li.item:first-child{ padding-top:0;}
.widget.widget-catalogsale-products .block ol li { padding:20px 0 20px 0;}
.widget.widget-catalogsale-products .price-box.map-info{ padding:10px 0 10px 0;}
.widget.widget-catalogsale-products .price-box.map-info a{ padding-left:0;}
.block .btn-remove,
.block .btn-edit { float:right;}
.block .actions { padding:17px 0 0 0;}
.block .actions a {
	display:inline-block;
	font-weight:bold;
	text-decoration:underline;
	margin-left:10px;
}
.block .actions a:hover{ text-decoration:none;}
.block-compare .actions{ padding:20px 0 10px 0;}
.block .empty {}
.block  .price-box.map-info .price {font-size: 13px; font-family: 'Arial'}

.block li.odd {}
.block li.even {}
.sidebar-indent {}
.block .price {font-weight: bold;}

.block-layered-nav {}
.block-layered-nav dt { border-top:1px solid #ececec; font-weight:bold; padding-top:15px; }
.block-layered-nav dd { padding:10px 0 10px 19px; margin-bottom:15px;}
.block-layered-nav dd.odd.last { padding-bottom:0; margin-bottom:0;}
.block-layered-nav dd li a { text-decoration:none; }
.block-layered-nav dd li {font-family: FontAwesome;color:#69bf30;padding: 0 0 3px;}
.block-layered-nav dd li:before {content: "\f105"; margin-right: 10px; font-size: 14px;}
.block-layered-nav dd li .price {font-weight: normal;}
.block-layered-nav .currently {}
.block-layered-nav .btn-remove { float:right; margin:5px 3px 0 2px; }
.block-layered-nav .block-subtitle {}
.block-layered-nav .block-content .actions a{ text-decoration:none;}
.block-layered-nav .block-content .actions{ padding-top:5px; padding-bottom:10px;}

.block-layered-nav #narrow-by-list2 dt {border:none; padding-top:0;}
/*blog tag*/
.block-tags{ border:none;}
.block-tags ul,
.block-tags li { display:inline; }
.block-tags li a:hover{color: #69bf30;}
.block-tags .actions a { margin-left:0; }
.block-tags .actions a:hover{}
.block-tags .actions { padding-bottom:5px;}
.product-tags li{ float:left; margin-right:7px;}
#addTagForm{ overflow:hidden;}
.tags-list li { display:inline; font-size: 15px; line-height:normal; margin-right:10px; }
.tags-list li a { color: #333333;text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* end Block: Tags */

/*top button*/
.top_button {
background: url("../images/top_icon.png") no-repeat scroll 0 0 transparent;
font-size: 0;
height: 60px;
width: 60px;
}
/*end top button*/

/*banner*/
.categoryBanner img
{
    width: 100%;
    height: auto;
    margin: 5px 0px;
}