@CHARSET "utf-8";
.content .bannerContainer {width:100%;min-height:480px;background:transparent url('../images/content-bg.gif') top repeat-x;}
.content .bannerContainer .banner {width:100%; text-align: center;}
.content .banner .bannerWarper{margin: auto;height:380px;}
.bannerWarper .bannerSliderContainer img{margin:auto;}
.bannerWarper .bx-wrapper .bx-pager{bottom: 10px;}
.bannerWarper .containerClearFix{margin:auto;display:inline-block;}
.bannerWarper .bx-wrapper{display:inline-block;margin: 0 auto 0px 0px;}
.bannerWarper .bx-wrapper .bx-viewport{left:0px;}
.bannerWarper .bx-wrapper .bx-controls-direction a{width:40px; height:40px;}
.bannerWarper .bx-wrapper .bx-controls-direction a.bx-prev{background:transparent url("../images/sprite.png") no-repeat scroll -2px -119px ;display:none;}
.bannerWarper .bx-wrapper .bx-controls-direction a.bx-next{background:transparent url("../images/sprite.png") no-repeat scroll -45px -119px ;display:none;}
.bannerWarper .bx-wrapper:hover .bx-controls-direction a.bx-next{display:block;}
.bannerWarper .bx-wrapper:hover .bx-controls-direction a.bx-prev{display:block;}
.sliderItemContainer {max-height:380px;width:100%;text-align: center;}
.sliderItemContainer .itemContent{max-height:380px;width:980px;text-align: center;margin:auto;display:inline-block;}
.sliderItemContainer .itemContent .leftContent{max-height: 380px;max-width:380px;float:right;width:100%;}
.sliderItemContainer .itemContent .rightContent{float:left;width: 500px;  margin:50px;height:280px; text-align: left;}
.itemContent .rightContentTitle{font-size: 30px;font-weight: bold;color: #0060AF;}
.itemContent .rightContentDes{min-width:470px; padding:10px; border-radius: 15px;margin-top: 25px;min-height: 200px;}
.itemContent .rightContentDes span.DesTitle{;display:inline-block;width:100%;font-size:25px; }
.itemContent .rightContentDes span.Des{display:inline-block;width:100%;font-size:20px;}
.bannerWarper .bx-wrapper .bx-viewport {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;border: none;background: transparent;}
.content .suggestContainer{width:100%;min-height: 100px;background:transparent url('../images/bg2.gif') repeat-x top;}
.content .suggestContainer .suggestWarp{width:980px; margin: auto; display: inline-block;}
.content .suggestContainer .suggestWarp li{width:33.32%;float: left;height:100px;cursor:pointer;overflow: hidden;}
.content .suggestContainer .suggestWarp li.step1{background: transparent url(../images/1.png) no-repeat center;}
.content .suggestContainer .suggestWarp li.step2{background: transparent url(../images/2.png) no-repeat center;}
.content .suggestContainer .suggestWarp li.step3{background: transparent url(../images/3.png) no-repeat center;}
.content .suggestContainer .suggestWarp li span{font-weight: bold;margin-top: 85px;display: block;}
.content .suggestContainer .suggestWarp li span:after{content:"  \f13a"; font-family: FontAwesome;}
.content .contentWarp{margin:auto;margin-top:40px;display:inline-block;}
.content .rowContent .boxSuggets span{color:#E15E34;}
.content .rowContent .boxNew span{color:#0060AF;}
.bannerContainer .suggestWarp .iconMapping{width:100px;height:100px;display:block;margin:auto;-ms-transform: rotate(45deg); /* IE 9 */-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */transform: rotate(45deg);margin-top:-100px;display:none;}
.bannerContainer .suggestWarp li.step1 .iconMapping{background-color: #0060AF;}
.bannerContainer .suggestWarp li.step2 .iconMapping{background-color: #84BB39;}
.bannerContainer .suggestWarp li.step3 .iconMapping{background-color: #E15E34;}
.bannerContainer .suggestWarp li.active .iconMapping{display:block;}
.bannerContainer .suggetConatinerDetails{height:380px;background-color: #84BB39;overflow: hidden;width:100%;}
.bannerContainer .suggetConatinerDetails .col{height:370px;margin:5px 0;width:19.99%;float:left;float:left;background-color: white;}
