@CHARSET "UTF-8";
@media only screen and (max-width: 979px)
{
    .content .bannerContainer {min-height:0px;}
    .sliderItemContainer .itemContent{width:100%;}
}
@media only screen and (max-width: 739px){

}
@media only screen and (max-width: 639px){
    .content .banner .bannerWarper{height:auto;}
    .sliderItemContainer .itemContent .rightContent{display:none;}
}
@media only screen and (max-width: 490px){
}
@media only screen and (max-width: 380px){}