@CHARSET "utf-8";
*{padding: 0px; margin:0px;font-family: 'Cabin';font-size: 14px;font-weight: normal;font-style: normal;text-decoration: none;color:#777777;}
button{text-align: center;cursor: default;color: buttontext;padding: 2px 6px 3px;border: 2px outset buttonface;}
button span span{display: block;float: left;}
button.button{background: transparent;border: 0;overflow: visible;cursor: pointer;padding: 0;margin: 0;width: auto;}
ul, li, dl, dd, dt {list-style: none outside none;}
a{text-decoration: none;}
#wrap{margin:0px; padding:0px; position: relative; display: inline-block;width: 100%;min-height: 768px;text-align: center;}
.headToolbar{text-align: center;background:white;}
.w100percent{width:100%;}
.wStaticPx{width:980px;}
/*---Topbar---*/
.topbar{width:100%;background: #313131;}
.topbar .container{min-height: 32px;margin: auto;}
.topbar .quickAccess{float:left;margin: 7px 0 0 3px;}
.topbar .quickAccess li{float:left;margin-right: 15px;}
.topbar .quickAccess li.frist{float:left;}
.topbar .quickAccess li a {display: inline-block;color: #9b9b9b;font-weight: bold;}
.topbar .headerButtonList{float:right;margin: 7px 0 0 3px;}
.topbar .headerButtonList li{display: inline-block;color: #9b9b9b;font-weight: bold;float:right;margin-left: 15px;font-style: normal;font-weight: normal;text-decoration: inherit;}
.topbar .headerButtonList li:hover{cursor:pointer;}
.topbar .headerButtonList li.lang:after{content:"\f13a";font-family: FontAwesome;}
.topbar .headerButtonList li.money:after{content:"\f13a";font-family: FontAwesome;}
/*---header---*/
.header{width: 100%;background: #f4f4f4;}
.header .container{min-height: 50px;margin: auto;}
.header .container .logo{float:left;}
.header .container .centerBlock{float: left;margin: 0 30px;}
.header .centerBlock .form{position: relative;text-align: right;margin-top:10px;}
.header .centerBlock .form input[type='text']{float: left;padding: 6px;width: 410px;border: solid 1px #b2b2b2;border-right: none;border-radius: 3px 0 0 3px;box-shadow: inset 0px 5px 5px #efefef;resize: none;}
.header .centerBlock .form .button span{border: none;padding: 0; }
.header .centerBlock .form .button span span{border: none;font-size: 16px;line-height: 29px;color: #ffffff;padding: 0 9px;border: solid 1px #69bf30;border-bottom-color: #3d7219;border-right-color: #4a8920;border-radius: 0 4px 4px 0;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69bf30', endColorstr='#5cac27');background: -webkit-gradient(linear, left top, left bottom, from(#69bf30), to(#5cac27));background: -moz-linear-gradient(top, #69bf30, #5cac27);background: -o-linear-gradient(top, #69bf30, #5cac27);background: -ms-linear-gradient(top, #69bf30, #5cac27);}
.header .container .rightBlock{float: right;font-size: 13px;line-height: 20px;background: #ffffff;border: 1px solid #b2b2b2;position: relative;margin: 8px 0 10px 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;min-width: 270px;text-align: left;}
.header  .rightBlock h3{font-size: 16px;color: #333333;line-height: 20px;margin: 0;font-family: 'Roboto', sans-serif;text-transform: uppercase;padding: 5px 12px 7px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3');background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));background: -moz-linear-gradient(top, #ffffff, #f3f3f3);background: -o-linear-gradient(top, #ffffff, #f3f3f3);background: -ms-linear-gradient(top, #ffffff, #f3f3f3);font-weight: bold;}
.header  .rightBlock h3 span{color:#58a622;}
/*--MENU--*/
.content .contentWarp{margin:auto;margin-top:20px;display:inline-block;}
.content .contentWarp .menu{
    min-height: 500px;
    background:#FAF8F2;
    width:232px;
    margin-right:10px;
    border: solid 1px #b2b2b2;
    float:left;
    border-radius:5px;
}
.content .rowContent{
    border-radius:5px;
    height: 350px;
    width:720px;
    margin-bottom:20px;
    float:right;
}

